.card-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;

  @include mq(tablet) {
    column-gap: 24px;
    row-gap: 72px;
    justify-content: flex-start;
  }

  @include mq(desktop) {
    row-gap: 48px;    
  }

  &__item {
    cursor: pointer;

    @include mq(tablet) {
      flex-basis: calc((100% - 24px) / 2);
    }

    @include mq(desktop) {
      flex-basis: calc((100% - 48px) / 3);
    }
  }

  &__link {
    display: block;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
      transition-property: box-shadow;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);
    }
  }
}

.img-wrapper {
  position: relative;
  overflow: hidden;  
}

.item-description {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;

  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;

  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;

  color: $card-portfolio-hover-text-color;
  background-color: $card-portfolio-bg-color;

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  .card-set__link:hover &,
  .card-set__link:focus & {
    transform: translateY(0);
  }
}

.item-content {
  padding: 32px 16px;  
  border: 1px solid $card-portfolio-border-color;

  &__description {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: $primary-text-color;
  }

  &__subdivision {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: $secondary-text-color;
  }
}
