.button {
  cursor: pointer;
}

/* <section order> */

.section-order__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 169px;
  height: 56px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: $button-bg-color;
  color: $title-text-color;  

  &:hover,
  &:focus {
    background-color: $button-hover-bg-color;
    transition-property: box-shadow, background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
}

/* Modal window */

.modal-window__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 169px;
  height: 56px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: $button-bg-color;
  color: $title-text-color;

  &:hover,
  &:focus {
    background-color: $button-hover-bg-color;
    transition-property: box-shadow, background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }

  &--send {
    display: flex;
    justify-content: center;
  }
}

/* <page footer> */

.subscribe__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 165px;
  height: 40px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: $button-bg-color;
  color: $button-text-color;

  &:hover,
  &:focus {
    background-color: $button-hover-bg-color;
    transition-property: box-shadow, background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }

  &--send {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-left: 16px;

    fill: $icon-subscribe-color;
  }
}

/* <Portfolio> */

.portfolio-applications__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 8px 16px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  border-radius: 4px;
  color: $accent-text-color;
  border: 1px solid $applications-button-border-color;
  background-color: $applications-button-bg-color;

  @include mq(tablet) {
    padding: 12px 24px;
  }

  &:hover,
  &:focus {
    border: none;
    color: $button-text-color;
    background-color: $button-hover-bg-color;
    box-shadow: var(--box-shadow-applications);
    transition-property: color, background-color, box-shadow;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
}
