.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  z-index: 99;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal-window {
  position: absolute;
  padding-top: 72px;
  padding-left: 16px;
  padding-bottom: 24px;
  padding-right: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  min-width: 392px;
  min-height: 586px;

  background-color: $modal-bg-color;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2))
    drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12))
    drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14));
  border-radius: 4px;

  @include mq(tablet) {
    min-width: 408px;
    min-height: 586px;
    padding-left: 24px;
    padding-right: 24px;
  }

  @include mq(desktop) {
    min-height: 584px;
  }
}

.close-sing {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $modal-icon-close-bg-color;
  fill: $modal-icon-color;

  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: $button-hover-bg-color;
    border: none;
    transition-property: fill, background-color, border;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
}

.modal-title {
  margin-bottom: 16px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.02em;
  color: $primary-text-color;
}

.modal-form {
  &__label {
    display: inline-block;
    width: 100%;
    margin-bottom: 4px;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: $modal-text-color;
  }

  &__input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 9px;
    padding-left: 34px;
    color: $primary-text-color;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    &--wrapper {
      position: relative;
      margin-bottom: 8px;
    }

    &--wrapper input {
      margin-bottom: 0;
    }

    &:focus {
      outline: 0;
      border-color: $modal-active-icon-color;
    }
    &:focus + .modal-form__icon {
      fill: $modal-active-icon-color;
    }
  }

  &__icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: $modal-icon-color;
  }

  &__textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    color: $primary-text-color;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    &:focus {
      outline: 0;
      border-color: $modal-active-icon-color;
    }

    &::placeholder {
      font-family: inherit;
      font-weight: 400;
      font-size: 12px;
      line-height: calc(14 / 12);
      letter-spacing: 0.04em;
      color: $modal-text-color;
    }
  }
}

.check-line {
  margin-top: 18px;
  margin-bottom: 24px;
  display: flex;

  @include mq(desktop) {
    margin-top: 16px;
  }

  & input:checked + .checkbox-agree .checkbox-agree__icon {
    fill: $icon-secondary-color;

    &--wrapper {
      background-color: $icon-primary-hover-bg-color;
      border: none;
    }
  }
}

.checkbox-agree {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;

  color: $modal-text-color;

  &__icon {
    fill: transparent;

    &--wrapper {
      width: 16px;
      height: 16px;
      border: 2px solid rgba(46, 47, 66, 0.4);
      border-radius: 2px;
      margin-right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__link {
    margin-left: 5px;
    text-decoration: underline;
    color: $accent-text-color;
  }
}
