$primary-text-color: #212121;
$title-text-color: #ffffff;
$secondary-text-color: #757575;
$accent-text-color: #2196f3;
$adress-text-color: rgba(255, 255, 255, 0.6);
$logo-text-color: #000000;
$underline-color: #2196f3;
$primary-icon-color: #212121;
$secondary-icon-color: #ffffff;
$accent-icon-color: #2196f3;
$primary-bg-color: #ffffff;
$accent-bg-color: #2f303a;
$applications-button-bg-color: #f5f4fa;
$applications-button-hover-bg-color: #2196f3;
$button-order-bg-color: #2196f3;
$button-order-hover-bg-color: #188ce8;
$teams-bg-color: #f5f4fa;