$primary-text-color: #2E2F42;
$secondary-text-color: #434455;
$accent-text-color: #4D5AE5;
$title-text-color: #ffffff;
$active-link-text-color: #404BBF;
$underline-color: #404BBF;

$primary-bg-color: #ffffff;
$secondary-bg-color: #2E2F42; 
$tertiary-bg-color:#F4F4FD;
$hero-bg-color: #2E2F42;
$skills-icon-bg-color: #F4F4FD; 
$teams-bg-color: #F4F4FD;
$footer-bg-color: #2E2F42;

$button-text-color: #ffffff;
$button-bg-color: #4D5AE5;
$button-hover-bg-color: #404BBF;
$applications-button-bg-color: #F4F4FD;
$applications-button-border-color: #E7E9FC;

$card-portfolio-border-color: #F4F4FD;
$card-portfolio-bg-color: #4D5AE5;
$card-portfolio-hover-text-color: #F4F4FD;

$icon-primary-color: #F4F4FD;
$icon-secondary-color: #ffffff;
$icon-primary-bg-color: #4D5AE5;
$icon-primary-hover-bg-color: #404BBF;
$icon-footer-hover-bg-color: #31D0AA;
$icon-clients-color: #8E8F99;
$icon-hover-clients-color: #404BBF;
$icon-subscribe-color: #ffffff;

$modal-bg-color: #FCFCFC;
$modal-text-color: #8E8F99;
$modal-icon-color: #2E2F42;
$modal-active-icon-color: #4D5AE5;
$modal-icon-primary-color: #2E2F42;
$modal-icon-secondary-color: #F4F4FD;
$modal-icon-close-bg-color: #E7E9FC;

$footer-text-color: #ffffff;
$footer-secondary-text-color: #F4F4FD;
$footer-form-border-color: #ffffff;

